# 系統與環境
.DS_Store
# 排除 VS Code 的個人偏好設定
.vscode/ 
__pycache__/

### 筆記本與 IDE 紀錄 ###
.ipynb_checkpoints/

# 數據檔案 (排除所有大檔案)
*.csv
*.xlsx
*.zip
*.parquet

# 排除個人草稿 
*.docx
*.pptx

# RStudio / Posit 連接紀錄
rsconnect/

# 如果專案內有 data 資料夾，整個排除
**/data/
**/www/
**/Images/
**/Documentation/

# --排除專案資料夾--
/Test_PJ/
/PJ/
/CoffeeSales_Project/

#### 清理特定專案的特定檔案 ####
# 清理 fastfoodsales_Project
/fastfoodsales_Project/Scripts/core_analysis.sql

# 清理 MitsuiPrediction_Project
/MitsuiPrediction_Project/Scripts/etl.sql
/MitsuiPrediction_Project/Scripts//salesKPI.sql